footer.fondoAzul{
    background: -moz-linear-gradient(132deg, rgba(1,10,133,1) 0%, rgba(2,232,224,1) 25%, rgba(221,255,254,1) 50%, rgba(229,252,252,1) 58%, rgba(167,252,249,1) 75%, rgba(1,10,133,1) 100%);
    background: -webkit-linear-gradient(132deg, rgba(1,10,133,1) 0%, rgba(2,232,224,1) 25%, rgba(221,255,254,1) 50%, rgba(229,252,252,1) 58%, rgba(167,252,249,1) 75%, rgba(1,10,133,1) 100%);
    background: linear-gradient(132deg, rgba(1,10,133,1) 0%, rgba(2,232,224,1) 25%, rgba(221,255,254,1) 50%, rgba(229,252,252,1) 58%, rgba(167,252,249,1) 75%, rgba(1,10,133,1) 100%);
    color:var(--azul-marino);
}