#hero{
    background-image: url('https://www.pexels.com/es-es/foto/corales-marrones-1311389/');
    background-position: center;
    background-color: aqua;
}

#hero h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 3rem;
}

main p{
    font-size: 0.9rem;
    line-height: 1.4rem;
}