<nav class="navbar navbar-expand-md navbar-dark fixed-top px-5 pt-5 pb-2 fondoAzul" >
    <div class="container  w-75 mx-auto">
      <a class="navbar-brand" routerLink="">SeaFood</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarMi">
        <ul class="navbar-nav mb-2 mb-md-0 d-flex justify-content-around align-items-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login-page">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register-page" tabindex="-1" aria-disabled="true">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-page" tabindex="-1" aria-disabled="true">Contact-us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
