<div class="py-5 my-5 text-center" id="hero">
    <img class="d-block mx-auto mt-5 mb-4" src="../../../assets/svg/SVG/fish.svg" alt=""  height="150">
    <h1 class="display-5 fw-bold">Primer Reto con Angular</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Lead de la 1º aplicación Angular.</p>
    </div>
    <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div> -->
  </div>
